<hr>
<div class="btn-group col-12">
  <button 
    type="button"
    (click)="startClicked()"
    class="btn btn-light">
      {{startButtonText}} <i [ngClass]="isPaused ? 'fa fa-play' : 'fa fa-pause'"></i>
  </button>
  <button 
    (click)="resetClicked()"
    [ngClass]="{'disabled' : isReset}"
    type="button" 
    class="btn btn-light disabled">
      Reset <i class="fa fa-stop" aria-hidden="true"></i>
  </button>
</div>
<hr>
<br>
<div class="container">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Type</th>
        <th>Left</th>
      </tr>
    </thead>
    <tbody>
      <tr class="active-pomodoro">
        <td>Pomodoro #1</td>
        <td>00:25:00</td>
      </tr>
      <tr>
        <td>Break</td>
        <td>00:05:00</td>
      </tr>
      <tr>
        <td>Pomodoro #2</td>
        <td>00:25:00</td>
      </tr>
      <tr>
        <td>Break</td>
        <td>00:05:00</td>
      </tr>
      <tr>
        <td>Pomodoro #3</td>
        <td>00:25:00</td>
      </tr>
      <tr>
        <td>Break</td>
        <td>00:05:00</td>
      </tr>
      <tr>
        <td>Pomodoro #4</td>
        <td>00:25:00</td>
      </tr>
    </tbody>
  </table>
</div>