<hr>
<div class="btn-group col-12">
  <button 
    type="button"
    (click)="startClicked()"
    class="btn btn-light">
      {{isPaused? 'Start' : 'Pause'}} <i [ngClass]="isPaused ? 'fa fa-play' : 'fa fa-pause'"></i>
  </button>
  <button 
    (click)="resetClicked()"
    [ngClass]="{'disabled' : isReset}"
    type="button" 
    class="btn btn-light disabled">
      Reset <i class="fa fa-stop" aria-hidden="true"></i>
  </button>
</div>
<hr>
<br>
<div class="container">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Type</th>
        <th>Left</th>
      </tr>
    </thead>
    <tbody>
      <tr [ngClass]="session === 0 ? 'active-pomodoro' : '' ">
        <td>Pomodoro #1</td>
        <td *ngIf="session===0 else twentyfive">{{ counter.min | number : '2.0-0' }}:{{ counter.sec | number : '2.0-0' }}</td>
      </tr>
      <tr [ngClass]="session === 1 ? 'active-pomodoro' : '' ">
        <td>Break</td>
        <td *ngIf="session===1 else five">{{ counter.min | number : '2.0-0' }}:{{ counter.sec | number : '2.0-0' }}</td>
      </tr>
      <tr [ngClass]="session === 2 ? 'active-pomodoro' : '' ">
        <td>Pomodoro #2</td>
        <td *ngIf="session===2 else twentyfive">{{ counter.min | number : '2.0-0' }}:{{ counter.sec | number : '2.0-0' }}</td>
      </tr>
      <tr [ngClass]="session === 3 ? 'active-pomodoro' : '' ">
        <td>Break</td>
        <td *ngIf="session===3 else five">{{ counter.min | number : '2.0-0' }}:{{ counter.sec | number : '2.0-0' }}</td>
      </tr>
      <tr [ngClass]="session === 4 ? 'active-pomodoro' : '' ">
        <td>Pomodoro #3</td>
        <td *ngIf="session===4 else twentyfive">{{ counter.min | number : '2.0-0' }}:{{ counter.sec | number : '2.0-0' }}</td>
      </tr>
      <tr [ngClass]="session === 5 ? 'active-pomodoro' : '' ">
        <td>Break</td>
        <td *ngIf="session===5 else five">{{ counter.min | number : '2.0-0' }}:{{ counter.sec | number : '2.0-0' }}</td>
      </tr>
      <tr [ngClass]="session === 6 ? 'active-pomodoro' : '' ">
        <td>Pomodoro #4</td>
        <td *ngIf="session===6 else twentyfive">{{ counter.min | number : '2.0-0' }}:{{ counter.sec | number : '2.0-0' }}</td>
      </tr>
    </tbody>
  </table>
  <ng-template #twentyfive>
    <div>25:00</div>
  </ng-template>
  <ng-template #five>
    <div>05:00</div>
  </ng-template>
</div>